* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 150px;
    height: 100px;
    background-color: rgb(173, 57, 57);
    text-align: center;
}

.active {
    font-size: 36px;
    color: rgb(206, 189, 196);
}